body{
    background-image: url("photo4.png");
    background-size: 90%;
}




.formulaire{
    float: right;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 5px;
    margin-top: -8px;
    width: 55%;
    
}

.formulaire h1{
    margin-right: 40px;
    padding-right: 70px;
    
}

.photo{
    text-align: center;
    padding-top: 60px;
    object-fit: cover;
    width: 100%;
    height: auto;
    
}

.images{
    height: 100%;
    transform: scale(1.3);
    padding-right: 45px;
}

.haut{
    margin-top: 50px;
    /*line-height: 50px;*/
    
}

label:hover{
    color: darkkhaki;
}


.bas{
    margin-top: 30px;
}

.bas form{
    word-spacing: 15px;
}

.haut input{
    width: 80%;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.haut select{
    width: 82%;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

#deux , #quatre , #six , #huit{
    border-radius: 50%;
    
}

#dix{
    border-radius: 50%;
}

span{
   border: 1px solid;
   padding: 9px;
   border-radius: 35%;
   background-color: darksalmon ;
   color: black;
   
}

#quatre{
    background-color: black;
    color: white;
    margin-right:  3px;
}

#Booking{
    margin-top: 17px;
    padding: 10px;
    width: 120px;
    color: white;
    background-color: darksalmon;
    
}



